body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  [class^="number-slide"],
  [class*=" number-slide"] {
   
   height: 380px;
   
    max-height: 100vh;
  }
  
  
 
  
 
  
  
  
  